<div class="col-xs-12 col-sm-9" id="default">
  <script src="./js/picker.js"></script>
  <div class="default-container" id="extrato-pontos">
    <h2>Painel de Campanhas</h2>
    <div class="row">
      <%= erb "www/painel-admin/campanha-modo.html".to_sym, locals: {type: "admin-deposito-quantidade", disabled: @method == 'patch' } %>
      <form action="/campanha<%= "?id=#{@campanha.id}" if @method == 'patch' %>" method="post" class="form-inline col-sm-offset-1 admin-fidelidade" id="admin-deposito-quantidade" >
        <% if @method != 'post' %>
          <input type="hidden" name="_method" value="<%= @method %>" />
        <% end %>
        <input type="hidden" class="form-control" name="id_tipo" value="admin-deposito-quantidade" />
        <div class="form-group">
         <label for="inputEmail3" class="col-xs-12 col-sm-4 control-label">Valor Total em</label>
         <div class="input-group col-xs-12 col-sm-8">
          <div class="input-group-addon">R$</div>
          <input type="text" class="form-control" name="valor_total" id="exampleInputAmount" placeholder="Amount" value="<%= @campanha.valor_total if @method == 'patch' %>" required >
          <div class="input-group-addon">.00</div>
         </div>
        </div>
        <div class="form-group">
         <label for="inputEmail3" class="col-xs-12 col-sm-4 control-label">Número de tickets</label>
         <div class="input-group col-xs-12 col-sm-8">
          <input type="number" class="form-control" id="exampleInputAmount" placeholder="Total de Tickets" name="nro_tickets" value="<%= @campanha.nro_tickets if @method == 'patch' %>" required>
         </div>
        </div>
        <div class="form-group">
         <label for="inputEmail3" class="col-xs-12 col-sm-4 control-label">Canal</label>
         <div class="input-group col-xs-12 col-sm-8">
          <input type="text" class="form-control" id="Channel" placeholder="Canal" data-toggle="modal" data-target="#modalChannel">
         </div>
        </div>
        <div class="form-group">
         <label for="inputEmail3" class="col-xs-12 col-sm-4 control-label">Pontos da Promoção</label>
         <div class="input-group col-xs-12 col-sm-8">
           <input type="number" class="form-control" name="pontos" id="pontos_promocao" placeholder="Quantidade de Pontos" value="<%= @campanha.pontos if @method == 'patch' %>" required>
         </div>
        </div>
        <%= erb "www/painel-admin/dados-campanha.html".to_sym %>
        <div class="form-group">
          <div class="col-xs-12 col-md-12 text-right">
           <button class="btn btn-default" id="salvar-deposito-quantidade">Salvar</button>
          </div>
        </div>

        <%= erb "www/canal/canais.html".to_sym %>

      </form>
    </div>
  </div>

</div>



