<div class="col-sm-offset-1 col-lg-11" id="campanha-modo">
  <div class="form-group">
    <label for="" class="col-xs-12 col-sm-4 control-label">Selecione o modo</label>
    <div class="input-group col-xs-12 col-sm-8">
      <% disabled ||= nil %>
      <select <%= "disabled" if disabled %> class="form-control selcls" id="module" name="module" onClick="loadForm()">
        <% type ||= nil %>
        <option value="0" <%= "selected" unless type %>> - - SELECIONE - - </option>
        <% TipoCampanha.all.each do |tc| %>
          <option value="<%= tc.id %>" <%= "selected" if type && type == tc.id %>><%= tc.nome %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>