<div class="row">
  <div class="promo-item">
    <a href="<%= promocao.link %>" class="link-promo" id="" title="" target="_blank"></a>
    <div class="detail-item">
      <img class="img-responsive center-block" id="" alt="" src="<%= promocao.image_url %>"/>
    </div>
    <div class="item-title">
      <p class="" id=""><%= promocao.titulo %></p>
    </div>
    <div class="item-action">
      <a href="<%= promocao.link %>" class="add-promo" aria-disabled="true" tabindex="0" target="_blank"><%= promocao.verb_to_s %></a>
    </div>
  </div>
</div>